@font-face {
    font-family: 'RobotoRegular';
       url('../fonts/RobotoRegular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
url('../fonts/Roboto-Medium_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue';
url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

